<%- include('layout/header.ejs') %>
<link rel="stylesheet" href="css/createAccount.css">
</head>
<body>
    <%- include('layout/navbar.ejs') %>
    <form action="" method="post" class="createAccount">
        <div class="form__section">
           <label for="name" class="form__label name">Name</label>
           <input type="text" name="name" placeholder="Full Name" class="form__input" required>
        </div>
        <div class="form__section">
            <label for="user" class="form__label user_name">Username</label>
            <input type="text" name="user" placeholder="Username" class="form__input " required>
        </div>
        <div class="form__section">
            <label for="password" class="form__label password">Password</label>
            <input type="password" name="password" placeholder="Password" class="form__input" required>
        </div>
        <div class="form__section">
            <label for="confirm_password" class="form__label confirm_password">Confirm Password</label>
            <input type="password" name="confirm_password" placeholder="Confirm Password" class="form__input" required>
        </div>
        <div class="form__section">
            <label for="dob" class="form__label dob">Date of Birth</label>
            <input type="date" name="dob" class="form__input" required>
        </div>
        <div class="form__button">
            <button type="reset" value="reset" class="form__buttons">Reset</button>
            <button type="submit" value="submit" class="form__buttons">Submit</button>
        </div>
    </form>
    <%- include('layout/footer.ejs') %>
</body>
</html>