<%- include('layout/header.ejs') %>
<link rel="stylesheet" href="css/error.css">
</head>
<body>
    <%- include('layout/navbar.ejs') %>
    <h1>Page Not Found!</h1>
    <%- include('layout/footer.ejs') %>
</body>
</html>