<%- include('layout/header.ejs') %>
<link rel="stylesheet" href="css/login.css">
</head>
<body>
    <%- include('layout/navbar.ejs') %>
    <form action="" method="post" class="login">
        <div class="login__section">
            <label for="user" class="login__label">Username</label>
            <input type="text" class="login__input" name="user" placeholder="Username" required>
        </div>
        <div class="login__section">
            <label for="password" class="password__label">Password</label>
            <input type="password" class="password__input" name="password" placeholder="Password" required>
        </div>
        <div class="login__buttons">
            <button type="reset" class="login__button">Reset</button>
            <button type="submit" class="login__button">Submit</button>
        </div>
        <div class="login__section">
            <a href="./createAccount" class="links">Create New Account</a>
        </div>
    </form>
    <%- include('layout/footer.ejs') %>
</body>
</html>